/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron{
    background-image:linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), 
    rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, 
    rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at top right,
    rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at center right, 
    rgba(var(--bd-violet-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), 
    transparent 50%);
}
