body{
    background: linear-gradient(to bottom, #4c147d, #160b2e);
    background-repeat: no-repeat;
    background-image: url("../images/peakpx2.jpg");
    background-size: cover;
}

.cover-container{
    /* --bd-pink-rgb: 214,51,132; */
    padding: 3rem 0;
    
}