body{
    /* background: linear-gradient(to bottom, #4c147d, #160b2e); */
    background-repeat: no-repeat;
    background-image: url("../images/peakpx3.jpg");
    background-size: cover;
}

.form-glass{
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-border-colorl{
    border: 2px solid !important;
    border-image: linear-gradient(to right, gold, purple) 4 !important;
    border-image-slice: 1 !important;
}
